"*":
  "atom-beautify":
    css:
      beautify_on_save: true
      indent_size: 2
      newline_between_rules: true
    general:
      _analyticsUserId: "37826a50-e63f-4dbe-9e75-2123961f97d3"
    html:
      beautify_on_save: true
      indent_size: 2
    js:
      beautify_on_save: true
      indent_size: 2
    jsx:
      beautify_on_save: true
      indent_size: 2
    ruby: {}
  core:
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".vagrant"
      ".keep"
      ".gitkeep"
    ]
  editor:
    invisibles: {}
    preferredLineLength: 120
    scrollPastEnd: true
  "exception-reporting":
    userId: "493788c1-9d12-8f5b-a650-7dd01d21accb"
  "file-icons":
    onChanges: true
    tabPaneIcon: false    
  "language-babel":
    autoIndentJSX: true
  "markdown-preview-plus":
    useGitHubStyle: true
  pigments:
    markerType: "gutter"
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  "vim-mode": {}
  "vim-mode-plus":
    highlightSearch: true
  welcome:
    showOnStartup: false
".babel.regexp.source":
  editor:
    preferredLineLength: 120
".basic.html.text":
  editor:
    preferredLineLength: 120
".js.jsx.source":
  editor:
    preferredLineLength: 120
