"*":
  "atom-beautify":
    css:
      beautify_on_save: true
      indent_size: 2
      newline_between_rules: true
    general:
      _analyticsUserId: "37826a50-e63f-4dbe-9e75-2123961f97d3"
    html:
      beautify_on_save: true
      indent_size: 2
    js:
      indent_size: 2
    json:
      beautify_on_save: true
    jsx:
      beautify_on_save: true
      default_beautifier: "JS Beautify"
      indent_size: 2
    ruby: {}
  "atom-package-deps":
    ignored: []
  core:
    automaticallyUpdate: false
    closeEmptyWindows: false
    customFileTypes:
      "text.html.basic": [
        "svelte"
      ]
    disabledPackages: [
      "markdown-preview"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".vagrant"
      ".keep"
      ".gitkeep"
    ]
    telemetryConsent: "no"
  editor:
    fontSize: 16
    invisibles: {}
    preferredLineLength: 120
    scrollPastEnd: true
  "exception-reporting":
    userId: "493788c1-9d12-8f5b-a650-7dd01d21accb"
  "file-icons":
    onChanges: true
    tabPaneIcon: false
  "linter-eslint":
    advanced: {}
    autofix:
      fixOnSave: true
  "linter-ui-default":
    showPanel: true
  "markdown-preview-plus":
    useGitHubStyle: true
  pigments:
    markerType: "gutter"
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
    prettierEslintOptions: {}
    prettierOptions:
      jsxBracketSameLine: true
      printWidth: 120
      singleQuote: true
  "tree-view":
    hideIgnoredNames: true
  "vim-mode": {}
  "vim-mode-plus":
    highlightSearch: true
  welcome:
    showOnStartup: false
".babel.regexp.source":
  editor:
    preferredLineLength: 120
".basic.html.text":
  editor:
    preferredLineLength: 120
".js.jsx.source":
  editor:
    preferredLineLength: 120
